USE [master]
GO
/****** Object:  Database [DBCQRS]    Script Date: 10/04/2025 9:24:46 ******/
CREATE DATABASE [DBCQRS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBCQRS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBCQRS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBCQRS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBCQRS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCQRS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCQRS]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 10/04/2025 9:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Precio] [int] NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([Id], [Nombre], [Precio]) VALUES (1, N'Audifonos Sony', 50000)
INSERT [dbo].[producto] ([Id], [Nombre], [Precio]) VALUES (2, N'Televisor LG 80''', 1300000)
INSERT [dbo].[producto] ([Id], [Nombre], [Precio]) VALUES (3, N'Portatil Asus ', 1800000)
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
USE [master]
GO
